/* Dummy styles //TODO: Change or delete if not used */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}   

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004286;
}
/* Dummy styles */